# 豆瓣登录配置
DOUBAN_USERNAME=your_douban_username_or_email
DOUBAN_PASSWORD=your_douban_password

JD_USERNAME=
JD_PASSWORD=

DANGDANG_USERNAME=
DANGDANG_PASSWORD=

MODELScope_API_KEY=your_modelscope_api_key

BILIBILI_USERNAME=
BILIBILI_PASSWORD=
QWEN_API_KEY=
QWEN_BASE_URL=
QWEN_MODEL=